$header__inner_max-width:1329;

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: transparent;

    &__inner {
        width: 90%;
        height: 78px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: $header__inner_max-width+px;
        margin: 0 auto;
    }

    &__nav {
        width: 90%;
        max-width: 757px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-link {
            position: relative;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 14px;
            line-height: 120%;
            text-transform: uppercase;
            letter-spacing: 0.02em;
            color: #FFFFFF;

            &::after {
                content: '';
                position: absolute;
                bottom: -4px;
                left: 0;
                display: inline-block;
                height: 1px;
                width: 0px;
                background-color: transparent;
                transition-property: width,
                    background-color;
                transition-duration: 0.4s;
            }

            &:hover::after {
                background-color: #fff;
                width: 100%;
            }

            &--active {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -8px;
                    left: 0;
                    display: inline-block;
                    width: 100%;
                    height: 2px;
                    background-color: #fff;
                }

                &:hover {
                    border-bottom: none;

                }
            }
        }
    }

    &__btn {
        font-family: 'Montserrat',
            sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 0.02em;
        border-radius: 800px;
        border: 1.5px solid #FFFFFF;
        padding: 15px 30px;
        color: #FFFFFF;
        transition: all 0.3s ease-in-out;

        &:hover {
            border: 1.5px solid transparent;
            background: #FFCC66;
            color: #1C2226;
        }
    }
}